
<style>
	table{font-family: arial;}
	td{border:1px solid #cccccc;}
	thead{background: #cccccc;}
	tr:nth-child(2n) {background: #eeeeee;}
</style>
<table width="100%" cellpadding="5" cellspacing="0" broder="1">
<thead>
<tr>
<td colspan="4"><b>A to Z Full Forms List</b></td>
</tr>
</thead>
<tbody>
	<tr>
<td>ATP</td>
<td>ATM</td>
<td>AIDS</td>
<td>AD</td>
</tr>
<tr>
<td>AI</td>
<td>ALU</td>
<td>ARMY</td>
<td>AC</td>
</tr>
<tr>
<td>AM</td>
<td>ALU</td>
<td>AIIMS</td>
<td>ADCA</td>
</tr>
<tr>
<td>AM</td>
<td>ALU</td>
<td>ANM</td>
<td>ADP</td>
</tr>
<tr>
<td>BTS</td>
<td>BPSC</td>
<td>BDO</td>
<td>BD</td>
</tr>
<tr>
<td>BBC</td>
<td>BC</td>
<td>BSNL</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>COMPUTER</td>
<td>CPU</td>
<td>CD</td>
<td>CBSE</td>
</tr>
<tr>
<td>CRT</td>
<td>CID</td>
<td><a href="https://www.infotokri.in/2022/04/cbi-full-form.html" title="CBI Full form">CBI</a></td>
<td>CEO</td>
</tr>
<tr>
<td>CU</td>
<td>CNG</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>DNA</td>
<td>DVD</td>
<td>DM</td>
<td>DIG</td>
</tr>
<tr>
<td>DSP</td>
<td>DAV</td>
<td>DP</td>
<td>DC</td>
</tr>
<tr>
<td>DOCTOR</td>
<td>DBT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>EVS</td>
<td>ED</td>
<td>ETC</td>
<td>EFL</td>
</tr>
<tr>
<td>EMI</td>
<td>ECG</td>
<td>ERA</td>
<td>EMAIL</td>
</tr>
<tr>
<td>ERP</td>
<TD>ESI</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>FIR</td>
<td>FORTRAN</td>
<td>FCI</td>
<td>FAX</td>
</tr>
<tr>
<td>FIFA</td>
<td>FTP</td>
<td>FT</td>
<td>FFA</td>
</tr>
<tr>
<td>FM</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>GPS</td>
<td>GST</td>
<td>GDP</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>GPU</td>
<td>GB</td>
<td>GATE</td>
<td>GOAT</td>
</tr>
<tr>
<td>HTTP</td>
<td>HP</td>
<td>HIV</td>
<td>HTML</td>
</tr>
<tr>
<td>HR</td>
<td>HMM</td>
<td>HCF</td>
<td>HDI</td>
</tr>
<tr>
<td>HDFC</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>IAS</td>
<td>IPS</td>
<td>IPO</td>
<td>ITI</td>
</tr>
<tr>
<td>IFS</td>
<td>ISRO</td>
<td>IIT</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>IRS</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>JIO</td>
<td>JEE</td>
<td>JCB</td>
<td>JPG</td>
</tr>
<tr>
<td>JPEG</td>
<td>JAVA</td>
<td>JEE</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>KGF</td>
<td>KTM</td>
<td>KFC</td>
<td>KYC</td>
</tr>
<tr>
<td>KB</td>
<td>KK</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>LCD</td>
<td>LAN</td>
<td>LOGO</td>
<td>LED</td>
</tr>
<tr>
<td>LOVE</td>
<td>JPG</td>
<td>LOL</td>
<td>LKG</td>
</tr>
<tr>
<td>LLB</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>MBBS</td>
<td>MC</td>
<td>MBA</td>
<td>MA</td>
</tr>
<tr>
<td>MLA</td>
<td>MMS</td>
<td>MG</td>
<td>MTS</td>
</tr>
<tr>
<td>MP</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>NASA</td>
<td>NEET</td>
<td>NCERT</td>
<td>NDA</td>
</tr>
<tr>
<td>NTPC</td>
<td>NCC</td>
<td>NTSE</td>
<td>NATO</td>
</tr>
<tr>
<td>NEP</td>
</tr>
<tr>
<td>OP</td>
<td>OK</td>
<td>OS</td>
<td>OTP</td>
</tr>
<tr>
<td>OBC</td>
<td>ODI</td>
<td>OPD</td>
<td>ORS</td>
</tr>
<tr>
<td>OTT</td>
<td>OMR</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>PC</td>
<td>PDF</td>
<td>PH</td>
<td>PAN</td>
</tr>
<tr>
<td>PG</td>
<td>POV</td>
<td>PO</td>
<td>PHD</td>
</tr>
<tr>
<td>PDS</td>
<td>PRI</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>QBASIC</td>
<td>QR CODE</td>
<td>QC</td>
<td>QA</td>
</tr>
<tr>
<td>QUAD</td>
<td>QT</td>
<td>QUIZ</td>
<td>QED</td>
</tr>
<tr>
<td>QRT</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>RNA</td>
<td>RBI</td>
<td>RAM</td>
<td>RIP</td>
</tr>
<tr>
<td>RSS</td>
<td>RRB</td>
<td>RRR</td>
<td>RPF</td>
</tr>
<tr>
<td>SP</td>
<td>SI</td>
<td>SDM</td>
<td>SSB</td>
</tr>
<tr>
<td>SSC</td>
<td>SDO</td>
<td>SST</td>
<td>SQL</td>
</tr>
<tr>
<td>TC</td>
<td>TVS</td>
<td>TET</td>
<td>TDS</td>
</tr>
<tr>
<td>TBH</td>
<td>TRP</td>
<td>TT</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>UPSC</td>
<td>UPS</td>
<td>USB</td>
<td>URL</td>
</tr>
<tr>
<td>USA</td>
<td>UPI</td>
<td>UNESCO</td>
<td>UNO</td>
</tr>
<tr>
<td>UTI</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>VDU</td>
<td>VIP</td>
<td>VDO</td>
<td>VIRUS</td>
</tr>
<tr>
<td>VLSI</td>
<td>VPN</td>
<td>VISA</td>
<td>VAT</td>
</tr>
<tr>
<td>VFX</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>WWW</td>
<td>WIFI</td>
<td>WWF</td>
<td>WWE</td>
</tr>
<tr>
<td>WAN</td>
<td>WBC</td>
<td>WTO</td>
<td>WYD</td>
</tr>
<tr>
<td>WC</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>XML</td>
<td>XD</td>
<td>XUV</td>
<td>XP</td>
</tr>
<tr>
<td>XL</td>
<td>XHTML</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>ZIP</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>


